# Core ML
torch>=2.0
numpy
scikit-learn

# Computer Vision & Skeletons
opencv-python
mediapipe==0.10.9

# Speech to Text (Offline)
vosk
sounddevice

# Optional: Text to Speech (Scalability)
pyttsx3

# Visualization & Analysis
matplotlib

# Utilities
tqdm
